---
import SpaceInfo from '../components/SpaceInfo.astro';
import Seperator from '../components/ui/Seperator.astro';
import MainLayout from '../layouts/MainLayout.astro';

export const prerender = false;
---

<MainLayout>
  <div class='flex items-center w-full justify-center flex-col space-y-6'>
    <h2 class='text-3xl md:text-4xl font-bold'>Today's Astro Pic</h2>
    <Seperator class='w-24' />

    <SpaceInfo />
  </div>
</MainLayout>
