---
import { cn } from '../../utils';

type Props = astroHTML.JSX.DefinedIntrinsicElements['span'];

const { class: styles, ...props } = Astro.props;
---

<span class={cn('h-px w-full bg-sky-600', styles)} {...props}>
  <slot />
</span>
